<!-- 1-->
<!-- <label for="input ">Enter name</label><br/>
<input type="text" id="input-name" placeholder="Petro Smith">  -->


 <!-- 2
<button id="open">Open window</button>

<div class="window" id="window">
    <div class="window__text">Hello</div>
    <button id="close">Close</button>
</div> -->
 

<!-- 3
<div  class="wrapper">
    <div class="line">
        <div id="item" class="line__item">
            <div id="bool" class="bool"></div>
        </div>
</div>
</div> -->
<!-- 

 4
<div id="wraper" class="wrapper">
    <div  class="circle"></div>
    <div  class="circle"></div>
    <div class="circle"></div>
    <div id="one"></div>
    <div id="two"></div>
    <div id="thre"></div>
   
</div>
<button id="next">next</button> -->

<!-- 5
 <h1>книги</h1>
 <div class="book" onclick="changeColor(this)">книга 1</div>
 <div class="book" onclick="changeColor(this)">книга 2</div>
 <div class="book" onclick="changeColor(this)">книга 3</div>
 <div class="book" onclick="changeColor(this)">книга 4</div>
 <div class="book" onclick="changeColor(this)">книга 5</div> -->
<!-- 6
 <button class="button" onmouseover="showTooltip(event, 'Це перша кнопка')">Перша кнопка</button>
	<button class="button" onmouseover="showTooltip(event, 'Це друга кнопка')">Друга кнопка</button>
	<button class="button" onmouseover="showTooltip(event, 'Це третя кнопка')">Третя кнопка</button>
 -->


<!-- 7 -->

 <!-- <ul>
    <li onclick="handleNodeClick(event)" onmouseover="handleNodeHover(event)" onmouseout="handleNodeHoverOut(event)">Директорія 1
        <ul>
            <li onclick="handleNodeClick(event)" onmouseover="handleNodeHover(event)" onmouseout="handleNodeHoverOut(event)">Піддиректорія 1.1</li>
            <li onclick="handleNodeClick(event)" onmouseover="handleNodeHover(event)" onmouseout="handleNodeHoverOut(event)">Піддиректорія 1.2</li>
        </ul>
    </li> -->

    <!-- 8
    <textarea name="" id="" cols="50" rows="10">lorem</textarea> -->